* {
    box-sizing: border-box;
}

html {
    font-family: poppins, serif;
    color: var(--clrPrimary3); 
}

body {
    /* margin: 0.9375rem; */
    margin: 0;
    font-size: 1.3125rem;
    background-color: var(--clrPrimaryBase);
    height: 100dvh;
}

img {
    width: 100%;
    display: block;
}

a {
    color: var(--clrPrimary3); 
    text-decoration: none;
}

button, .btn {
    cursor: pointer;
}

button {
    color: var(--clrPrimary3); 
}

input, select {
    font-family: poppins, serif;
}

