.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* not clean css, but this is the only way I managed to control the canvas size */
body .hide {
    /* display: none; */
}

/* body .hide.gallery {
    display: none;
} */