.main-layout {
    display: grid;
    grid-template-columns:
      minmax(15px, 1fr)
      minmax(auto, var(--l))
      minmax(15px, 1fr);
  }

  .main-layout > *:not(.full) {
    grid-column: 2;
  }

