/* Tablet */
@media (width <=992px) {
    .main-layout {
        grid-template-columns:
            minmax(15px, 1fr) minmax(auto, var(--m)) minmax(15px, 1fr);
    }

    .main-header {
        grid-template-columns: 50px 1fr 1fr 50px;
    }

    .gallery .imgs-container {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 0.83em;
    }

    .editor {
        grid-template-columns: auto;
        gap: 20px;
    }

    .editor .canvas-container {
        grid-column: 1;
    }

    .editor .control-panel {
        grid-column: 1;
        gap: 1em;
    }

    .editor .canvas-container {
        width: 600px;
        height: 600px;
    }
}

/* Mobile */
@media (width <=768px) {
    body {
        font-size: 1rem;
    }

    .main-layout {
        /* grid-template-columns:
            minmax(15px, 1fr) minmax(auto, var(--s)) minmax(15px, 1fr); */
        grid-template-columns: 20px auto 20px;
    }

    .main-header {
        grid-template-columns: 50px 3fr 1fr 50px;
    }

    .editor .canvas-container {
        width: 320px;
        height: 320px;
    }

    .editor .control-panel {
        padding: 1em 0.5em;
    }

    .editor button,
    .btn {
        width: 40px;
        height: 40px;
    }

    .editor input,
    .editor select {
        font-size: 1em;
    }

    .gallery .imgs-container {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        padding: 0;
    }

    .gallery input[type="search"] {
        height: 40px;
    }

    dialog {
        width: 100vw;
        height: 100vh;
    }

}